/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
/*body {*/
    /*!* Margin bottom by footer height *!*/
    /*margin-bottom: 60px;*/
/*}*/
.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    /*background-color: #f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
<<<<<<< HEAD
    padding: 0 15px 0;
=======
    padding: 60px 15px 0;
>>>>>>> b34ac3facaeb0938b6d5f572c828970d19623661
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
.body-main{
    padding-left: 2.6%;

}
/*Social Icons*/
.github{
    width: 38.5px;
    height: 41.5px;

}
.github:hover {
    opacity: 0.7;
}
.fa {

    /*padding: 20px;*/
    font-size: 30px;
    width: 50px;
    height: 54px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

}
.fa1{
    width: 20px;
    margin: 3px 2px;
}

.fa:hover {
    opacity: 0.7;
}
/*.fa-linkedin {*/
    /*background: #007bb5;*/
    /*color: white;*/
/*}*/

#home-body{
    margin-top: 6%;
}
i{
    display: inline;
    font-size: 10em;
    opacity: 1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {

    text-align: left;
    padding: 8px;
}

.myList li{
<<<<<<< HEAD
=======
    text-decoration: underline;
>>>>>>> b34ac3facaeb0938b6d5f572c828970d19623661
    padding-left: 0.8em;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
