<link rel="stylesheet" href="css/conatct.css">
<div class="container">
    <div class="row" style="padding-bottom: 8%">
        <h3 class="animated flipInX">Contact Me</h3>
        <p><b>Email   :</b> yashdthakkar@gmail.com</p>
        <p><b>Cell No :</b> +1-(551)-227-0361</p>
        <p style="padding-top: 5px"><b>You can also</b> <button type="button" class="btn btn-success animated flash" ng-click="formShow=true">Fill up the Form</button></p>
        <iframe ng-show="formShow" style="padding-top: 3%" src="https://docs.google.com/forms/d/e/1FAIpQLSdxWH3JpM-J27OtKKDSMVuyuH1w7cYQF7gKA3aikXJg1NXQDg/viewform?embedded=true" width="100%" height="1050px" scrolling="no"  frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</div>
