<div class="body-main" style="padding-bottom: 5%">
    <div class="row" style=" padding-bottom: 5%" >
        <center><h2 class="wow flipInY">Skills</h2></center>
        <hr>
        <center>
            <div class="col-md-4" style="padding-top: 5%;" >
                <i class="fa fa-line-chart fa-5x" aria-hidden="true" style="display: inline; font-size: 10em;" ></i>
            </div>
        </center>
        <div class="col-md-8">
            <table ng-repeat="skill in skills">
                <tr>
                    <td style="width: 30%"><b>{{skill.name}}</b></td>
                    <td style="" class="animated zoomIn">{{skill.value}}</td>
                </tr>
            </table>
        </div>
    </div>

    <hr>
    <div class="row">
        <center><h2 class="wow flipInY">Masters Degree</h2></center>
        <hr>
        <div class="col-md-8">
            <p ng-bind-html="edu[0].school" class="wow slideInLeft"></p>
            <p ng-bind-html="edu[0].major"></p>
            <p>GPA: {{edu[0].gpa}}</p>
            <p style=" padding-right: 5%">Course work: {{edu[0].course}}</p>
        </div>
        <center>
            <div class="col-md-4" >
                <i class="fa fa-graduation-cap fa-5x" aria-hidden="true" style="display: inline; font-size: 10em;"></i>
            </div>
        </center>
    </div>

    <hr>
    <div class="row" >
        <center><h2 class="wow flipInY">Bachelor Degree</h2></center>
        <hr>
        <center>
            <div class="col-md-4" >
                <i class="fa fa-book fa-5x" aria-hidden="true" style="display: inline; font-size: 10em;"></i>
            </div>
        </center>
        <div class="col-md-8">
            <p ng-bind-html="edu[1].school" class="wow slideInRight"></p>
            <p ng-bind-html="edu[1].major"></p>
            <p>GPA: {{edu[1].gpa}}</p>
            <p style=" padding-right: 5%">Course work: {{edu[1].course}}</p>
        </div>
    </div>
</div>
